* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}


.header, .hero-box, .footer {
    background-color: #1F2937;
}

.header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: baseline;
    gap: 24px;
    padding: 20px 100px 20px;
}

.header #logo {
    margin-right: auto;
}

#logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-box {
    display: flex;
    align-items: center;
    padding: 100px;
    gap: 40px;
}

.hero-box .img {
    min-height: 200px;
    width: 400px;
    flex-basis: 400px;
    flex-grow: 1;
    text-align: center;
    background-color: darkgray;
}

.hero-box .text {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.hero-box .text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    flex-basis: 400px;
    margin: 0px;
}

.hero-box .text p {
    font-size: 18px;
    color: #E5E7EB;
    flex-basis: 600px;
}

.hero-box button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #3882F6;
    border-radius: 4px;
    min-height: 25px;
    flex-basis: 100px;
}

.cards-box {
    display: flex;
    flex-direction: column;
    padding: 20px 100px 100px;
    align-items: center;
}

.cards-box h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 60px;
}

.cards-box .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.cards-box .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 200px;
}

.cards-box p {
    text-align: center;
}

.cards-box .box {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 16px;
}

.quote-box {
    background-color: #E5E7EB;
}

.quote-box .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-box .author {
    font-weight: extra-bold;
    color: #1F2937;
}

.action-box .action-container {
    background-color: #3882F6;
    height: 200px;
    width: 1200px;
    border-radius: 8px;
}

.action-box h1{
    color: #F9FAF8;
    font-weight: extra-bold;
}

.action-box p {
    color: #F9FAF8;
}

.action-box button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    height: 72px;
}